@use "config" as *;

.carousel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    text-align: center;

    &__heading {
        grid-column: 1/-1;
        justify-self: start;
    }

    &__button {
        background-color: rgba($color: #ffffff, $alpha: 0);
        border-style: none;
        color: $text-light;

        &#prev {
            visibility: hidden;
        }
        &#next {
            visibility: visible;
        }

        &:hover {
            color: $accent-green;
            cursor: pointer;
        }
    }
}