* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Text
$text-dark: #000;
$text-light: #fff;

// Gaming Color Palette
$accent-blue: #1b03a3;
$primary-blue: #213586;
$blue-green: #27686a;
$green-blue: #2d9a4d;
$primary-green: #33cd31;
$accent-green: #39ff14;

// Neutral Colors
$menu-grey-light: #696969;
$menu-grey-dark: #383838;

@mixin flex-display($direction, $wrap, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $justify;
}
