@use "config" as *;

.bio {
    @include page-section;

    &__card {
        width: 100%;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: max-content;
        align-items: center;
        justify-items: center;

        &__image {
            border-radius: 2rem 2rem 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem 0 0 2rem;
        }

        &__content {
            background-color: rgba($color: #000000, $alpha: 0.6);
            width: 100%;
            height: 100%;
            padding: 2rem;
            border-radius: 0 2rem 2rem 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: max-content;

            &__title {
                font-size: 2rem;
                grid-column: 1/2;
            }

            &__rating {
                grid-column: 2/-1;
                justify-self: end;
            }

            &__description {
                grid-column: 1/-1;
            }
        }
    }
}

.details {
    @include page-section;

    &__card {
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 1rem;
        border-radius: 2rem;

        &__list {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

            li {
                width: 95%;
                padding: 1rem;
                border-bottom: 1px solid white;

                a:hover {
                    color: $accent-blue;
                }
            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        gap: 2rem;

        &__image {
            width: 100%;
            border-radius: 2rem;
        }
    }
}

.reviews {
    @include page-section;

    &__output {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        row-gap: 2rem;

        &__card {
            background-color: rgba($color: #000000, $alpha: 0.6);
            color: $text-light;
            padding: 1rem;
            border-radius: 2rem;

            a:hover {
                color: $accent-blue;
            }
        }
    }
}
