@use "config" as *;

.bio {
    @include page-section;

    &__card {
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        row-gap: 0;
        column-gap: 2rem;
        align-items: center;

        &__image {
            border-radius: 2rem 2rem 0 0;
            width: 100%;
        }

        &__content {
            background-color: $menu-grey-dark;
            padding: 1rem;
            border-radius: 0 0 2rem 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: max-content;
            &__title {
                grid-column: 1/2;
            }

            &__rating {
                grid-column: 2/-1;
                justify-self: end;
            }

            &__description {
                grid-column: 1/-1;
            }
        }
    }
}

.tabs {
    @include page-section;

    &__buttons {
        @include flex-display(row, no-wrap, center, initial);
        width: 100%;

        .details-button,
        .reviews-button {
            @include option-button;
            width: 50%;
            height: 3rem;
        }
    }
}

.details {
    @include page-section;

    &__card {
        background: $menu-grey-dark;
        padding: 2rem;
        border-radius: 2rem;

        &__list {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

            li {
                width: 95%;
                padding: 1rem;
                border-bottom: 1px solid white;

                a:hover {
                    color: $accent-blue;
                }
            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        gap: 2rem;

        &__image {
            width: 100%;
            border-radius: 2rem;
        }
    }
}

.reviews {
    @include page-section;

    &__card {
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        color: $text-dark;
        padding: 1rem;
        border-radius: 2rem;
    &__output {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        row-gap: 2rem;

    }
}
