@use "config" as *;

.header {
    @include page-section;
    width: 70vw;
    margin-top: 0;

    &__content {
        @include flex-display(row, wrap, center, space-between);
        padding: 1rem 0;
    }
}
