@use "config" as *;

.header {
    @include page-section;
    width: 70%;
    margin-top: 0;

    &__content {
        @include flex-display(row, nowrap, center, space-between);
        padding: 1rem 0;
        width: 100%;

        h1 {
            text-align: center;
            width: 80%;
        }

        a {
            width: 10%;
            text-align: center;
            margin: auto;

            img {
                width: 60%;
            }
        }
    }
}
