@use "config" as *;

.construction {
    @include flex-display(column, nowrap, center, space-between);
    min-height: 80vh;
    width: 80%;

    ul {
        padding: 1rem;
    }

    img {
        width: 20%;
    }
}
