@use "config" as *;

.search {
    @include page-section;

    &__bar {
        @include flex-display(row, no-wrap, center, space-between);
        width: 100%;

        .entry {
            height: 2rem;
            width: 500px;
            background-color: lightgrey;
            border-radius: 0.5rem;
        }

        .submit-button,
        .filter-button {
            height: 2rem;
            padding: 0.25rem;
        }
    }
    &__form {
        display: none;
        overflow: hidden;
        padding: 1rem;

        p {
            margin: 0.5rem;
        }

        &.open {
            display: block;
            background-color: $menu-grey-dark;
            border-radius: 0.5rem;
        }

        .filters {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);

            &__heading {
                grid-column: 1/-1;
            }

            &__field {
                @include flex-display(column, no-wrap, left, initial);
                padding: 0.5rem;

                &.meta {
                    align-items: flex-start;
                    grid-column: 4/-1;
                    grid-row: 2/5;
                }

                &.buttons {
                    flex-direction: row;
                    grid-column: 4/-1;

                    .cancel-filters,
                    .submit-filters {
                        width: 50%;
                    }
                }
            }
        }
    }
}
