@use "config" as *;

.search {
    @include page-section;
    position: relative;

    &__bar {
        @include flex-display(row, wrap, center, space-between);
        width: 100%;

        &__container {
            @include flex-display(row, no-wrap, center, space-between);
            width: 75%;

            .entry {
                height: 2rem;
                width: 80%;
                background-color: lightgrey;
                border-radius: 0.5rem;
            }
            .submit-button,
            .filter-button {
                @include option-button;
                width: 3rem;
                height: 2rem;
                padding: 0.25rem;
            }

            .submit-button {
                margin-right: auto;
            }

            .filter-button {
                margin-left: auto;
            }

            label {
                display: none;
            }
        }
    }
    &__form {
        display: none;
        width: 100%;
        position: absolute;
        bottom: -400px;
        z-index: 99;
        padding: 1rem;

        p {
            margin: 0.5rem;
        }

        &.open {
            display: block;
            background-color: $menu-grey-dark;
            border-radius: 0.5rem;
        }

        .filters {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);

            &__heading {
                grid-column: 1/-1;
            }

            &__field {
                @include flex-display(column, no-wrap, left, initial);
                padding: 0.5rem;

                &.meta {
                    align-items: flex-start;
                    grid-column: 4/-1;
                    grid-row: 2/5;
                }

                &.buttons {
                    flex-direction: row;
                    grid-column: 4/-1;

                    .cancel-filters,
                    .submit-filters {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.results {
    @include page-section;

    &__header {
        @include flex-display(row, wrap, center, initial);
    }

    &__views {
        margin-left: auto;

        .grid-view,
        .list-view {
            @include option-button;
            width: 3rem;
            height: 2rem;
            padding: 0.25rem;
            opacity: 0.5;
            filter: grayscale(100%);
        }
    }

    &__output {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;

        &__placeholder {
            grid-column: 1/-1;
            justify-self: center;
        }
    }

    &__footer {
        width: 100%;
        text-align: center;
        margin: auto;

        .show-more {
            @include option-button;
            padding: 0.5rem;
        }
    }
}
