@use "config" as *;
@use "header";
@use "home";
@use "search";
@use "gamedetails";
@use "profile";
@use "responsive";

html {
    background: url(../img/PolygonalBackground.svg) center/cover no-repeat fixed, darken($blue-green, 10%);
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    color: $text-light;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
}

header {
    background: linear-gradient(black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

main {
    width: 100%;
    @include flex-display(column, nowrap, center, initial);
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), black);
    text-align: center;
    margin: 4rem auto 0;
    padding: 1rem;
    width: 100%;
    color: rgba($color: $text-light, $alpha: 0.5);
}

h1,
h2,
h3 {
    margin: 1rem 0;
    font-family: "Audiowide", cursive;
    font-weight: 400;
}

a {
    color: $text-light;
    text-decoration: none;

    &:hover {
        color: $accent-blue;
    }
}

p {
    margin: 0.5rem 0;
}

input {
    padding: 0.5rem;
}

.highlight-green {
    color: $accent-green;
    font-weight: bold;
}

.highlight-blue {
    color: $accent-blue;
    font-weight: bold;
}
