@use "config" as *;
@use "header";
@use "about";
@use "search";
@use "carousel";
@use "results";
@use "gamedetails";
@use "responsive";

html {
    background: url(../img/PolygonalBackground.svg) center/cover no-repeat fixed, black;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    color: $text-light;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
}

h1,
h2,
h3 {
    margin: 1rem 0;
    font-family: "Audiowide", cursive;
    font-weight: 400;
}

a {
    color: $text-light;
    text-decoration: none;
}

p {
    margin: 1rem 0;
}

header {
    background: linear-gradient(black, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.highlight-green {
    color: $accent-green;
    font-weight: bold;
}

.highlight-blue {
    color: $accent-blue;
    font-weight: bold;
}

main {
    height: 100%;
    width: 100%;
    @include flex-display(column, no-wrap, center, initial);
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), black);
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    color: $text-light;
}
